html, body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 1120px) {
    .container {
        margin-left: 300px;
        margin-right: 300px;
    }
}

.container > .row {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.row > .col {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    padding: 5px;
    background-color: white;
    transition: 0.2s background;
    border: 1px solid #4dbdda;
    color: #4dbdda;
}

.btn:hover {
    background-color: #4dbdda;
    color: #FFF;
    cursor: pointer;
}

.fadein {
    animation-duration: 1s;
    animation-name: fadein;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.oculto {
    display: none;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}