@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, * {
    font-family: Roboto, sans-serif;
}

.imagen-fondo {
    background: url("images/header.png") no-repeat center;
    background-size: cover;
    filter: blur(0.25);
}

.titulo-sitio {
    color: #94b4fa;
}